@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
}
/* Nav Styles ================== */

nav{
    display: flex;
    justify-content: space-between;
    margin: auto 5%;
}

main{
    margin: 0 5%;
}
p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.7vw;
    line-height: 1.6em;
}



.logo{
    display: flex;
    align-items: center;
    width: 100%;
}
.logo img{
    width: 3em;
    height: auto;
    margin-right: 1em;
}

.logo h1{
    color: #131318;
    font-size: 2.5vw;
}

.logo span{
    color:#FF5400;
    
}

.menu{
    display: flex;
    margin: auto 0;
    max-width: 100%;
}

.menu li{
    list-style: none;
    margin-right: 1.5em;
}

.menu a{
    text-decoration: none;
    font-size: 1.5vw;
    color: var(--Dark-02, #424247);
}

.menu i{
    display: none;
}


/* Banner Styles */
.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Images/banner.png");
    background-size: cover;
    height: 500px;
    background-position: center center;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title h1{
    font-size: 4vw;
    color: #FFFFFF;
    margin: 0 auto;
}


.title p{
    font-size: 1em;
    margin: 0 15vw;
    margin-top: 2vw;
    font-size: 1.6vw;
    color: #FFF;
}

.button-group {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    width: 75% ;
    margin: 0 auto;
    margin-top: 3em;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.where, .when, .select, .find {
    flex-grow: 1;
    width: 1fr;
    height: 52px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    justify-content: space-between;
}
.find{
    background: #FF5400;
    color: #FFF;
}

/* Popular Tours styles */
.popular-tours{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    padding: 6.3em 0;
    align-items: center;
    text-align: left;
}

.popular-tours-image{
    width: 60vw;
}
.popular-tours-image img{
    width: 100%;
    margin: 2.5em 0 0 0;
}
.popular-tours h1{
    color: #131318;
    font-size: 3vw;   
}

.popular-tours li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.7vw; 
    height: 4em;
    line-height: 1.5em;
}
.read-more{
    width: 164px;
    height: 42px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1em;
    border: none;
    margin-top: 0.5em;
}



/* =========== */
.destination-text{
    text-align: center;
    margin: 1em 15%;
    line-height: 2em;
}


.img-gallary-first{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5em;
    margin-top: 1.5em;
}

.img-gallary-second{
    display: grid;
    grid-template-columns: 1.6fr 2fr 1.2fr;
    grid-gap: 1.5em;
    margin-top: 1.5em;
}

.img-gallary-third{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 1.5em;
    margin-top: 1.5em;
}


.img-gallary-first div,
.img-gallary-second div,
.img-gallary-third div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    background-position: center center;
    color: #FFFFFF;
    border-radius: 16px;
}


.maldiv {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/img1.png), lightgray 50% / cover no-repeat;
}

.indonesia { 
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/img2.png), lightgray 50% / cover no-repeat;
}

.srilanka {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/img2.png), lightgray 50% / cover no-repeat;
}

.north-america {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/img3.png), lightgray 50% / cover no-repeat;
}

.kashmir {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/img4.png), lightgray 50% / cover no-repeat;
}

.bangladesh { 
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/img6.png), lightgray 50% / cover no-repeat;
}

.bandarban { 
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/img7.png), lightgray 50% / cover no-repeat;
}


/* Why choice section styles */

.why-choose{
    margin-top: 5em;
}
.why-choose-top{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.why-choose-middle{
    display: flex;
    gap: 1.6em;
}
.why-choose-left{
    width: 50%;
    height: 284px;
    padding:2em 2em 0 2em;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);    
}


.why-choose-right{
    width: 50%;
    height: 284px;
    padding:2em 2em 0 2em;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);    
}

.why-choose-bottom{
    width: 50%;
    height: 284px;
    padding:2em 2em 0 2em;
    border-radius: 16px;
    margin: 1.6em auto;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);    
}



.discount-title{
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.discount-banner-1{
    width: 100%;
    height: 500px;  
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: auto 0;
    margin-top: 3em;
    background-size: cover;  
    border-radius: 16px;
    background: url(Images/dis-ban-1.png), lightgray 50% / cover no-repeat; 
}

.discount-box-1{
    width: 50%;
    height: 390px;
    border-radius: 16px;
    margin-right: 4%;
    padding: 4% 4% 0 4%;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);   

}
.dis-box-top {
    display: flex;
    justify-content: space-around; 
    justify-content: center;
    align-items: center;
}
.dis-box-top div{
    margin-right: 1em;
}
.dis-box-top img{
    width: 24px;
    height: 24px;
   
}
.discount-banner-1 h2{
    color: #FF5400;
    font-size: 20px;
}
.discount-banner-1 button{
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    width: 150px;
    height: 52px;
    border-radius: 10px;
    border: none;
    margin-top: 1em;
}
.dis-box-top span{
    color: #5A5A5D;
    font-size: 0.8em;
}

#discount-banner-2{
    background: url(Images/dis-ban-1.png), lightgray 50% / cover no-repeat; 
    justify-content: start;
    padding-left: 4%;
}

.see-all-pack-btn {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.see-all-pack-btn button {
    background: #FF5400;
    color: #FFF;
    font-size: 1em;
    width: 170px;
    height: 52px;
    border-radius: 10px;
    border: none;
}


.perfect-place{
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.perfect-place-text p{
    font-size: 1em;
}
.perfect-place-text button{
    background: #FF5400;
    color: #FFF;
    font-size: 1em;
    width: 142px;
    height: 42px;
    border-radius: 10px;
    border: none;
    margin-top: 1em;
}
.perfect-place-text li{
    font-size: 1em;
    line-height: 1.7em;
}
video {
    object-fit: cover; 
    border-radius: 10px;
}


/* =========== */
.news-letter{
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    grid-gap: 5em;
    margin-top: 5em;
}

.news-letter-form{
    display: flex;
    flex-direction: column;
}
.news-letter-form input{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    margin-top: 1em;
    width: 96%;
    height: 52px;
    padding-left: 1em;
}
.news-letter-form button{
    margin-top: 1em;
    width: 100%;
    height: 52px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}

.news-letter-right{
    background-image: url(Images/img4.png);
    border-radius: 8px;
    width: 100%;
    height: 422px;
    background-size: cover;
    position: relative;
}

.news-letter-discount {
    width: 324px;
    height: 140px;
    text-align: center;
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(0.5) rotate(-19.628deg) translateY(50%) translateX(40%);
}

.news-letter-discount h3{
    color: #FFF;
    font-size: 24px;
}
.news-letter-discount h1{
    color: #FFF;
    font-size: 32px;
}

/* Footer ========= */
.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 6em; 
    height: 502px;
}


.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo h1{
    font-size: 32px;   
}
.footer-logo img{
    width: 40px;
    height: 46.673px;
    margin-right: 1em;   
}
.footer-info p{
    text-align: center;
    width: 60%;
    font-size: 1em; 
}

.icon{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.icon li{
    list-style: none;
    margin-right: 1em;
}
.icon i{
    color: black;
}
.footer-info p{
    margin-top: 3em;
}



@media screen and (max-width:576px) {
    .logo img{
        width: 28.724px;
        height: 33.516px;
    }
    .logo h1{
        font-size: 3vw;
    }
    .menu li{
        display: none;
    }
    .menu i{
        display: inline;
        margin-right: 1em;
    }

    .banner{
        height: 493px;
        background-position: center center;
    }

    .banner h1{
        font-size: 22px;
    }

    .banner p{
        font-size: 14px;
        margin: 1em 4%;
    }

    .button-group{
        flex-direction: column;
        margin-top: 0;  
    }
    .where, .when, .select, .find {
        width: 100%;     
    }
    .find {
        justify-content: center;
        gap: 0.5em;
    }

    .popular-tours h1{
        font-size: 20px;
    }
    .popular-tours{
        flex-direction: column;
        padding-top: 0;
        overflow: hidden;
    }
    .popular-tours p{
        font-size: 14px;
    }
    .popular-tours li{
        height: 5em;
        margin-left: 1em;
        font-size: 14px;
    }

    .popular-tours-image{
        width: 100%;
    }


.img-gallary-first,
.img-gallary-second,
.img-gallary-third{
    grid-template-columns: 1fr;
}
   
.destination-container p{
    font-size: 1em;
}
.popular-tours{
    overflow: hidden;
    margin: 0;
}
.why-choose-top h1{
    font-size: 1.5em;
}
.why-choose p{
    font-size: 0.8em;
}
.why-choose-middle{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.why-choose-left{
    width: 85%;

}
.why-choose-right{
    width: 85%;
}
.why-choose-bottom{
    width: 85%;
   
}
.discount-title h1{
    font-size: 1.5em;
}
.discount-title p{
    font-size: 1em;
}
.discount-box-1{
    width: 90%;
    margin-right: 10%;
}
.perfect-place{
    grid-template-columns: 1fr;
}
.news-letter{
    grid-template-columns: 1fr;    
}
.discount-banner-1{
    width: 100%;
}
#discount-banner-2{
    width: 100%;
}
.news-letter-form p{
    font-size: 1em;
}
.discount-box-1{
    flex-direction: row;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}

}

@media screen and (min-width:576px) and (max-width:786px) {
    .logo img{
        width: 28.724px;
        height: 33.516px;
    }
    .logo h1{
        font-size: 21px;
    }
    .menu li{
        display: none;
    }
    .menu i{
        display: inline;
        margin-right: 1em;
    }

    .banner{
        height: 493px;
        background-position: center center;
        flex-direction: row;
        
    }

    .banner h1{
        font-size: 22px;
    }

    .banner p{
        font-size: 14px;
        margin: 1em 4%;
    }

    .button-group{
        flex-direction: column;
        margin-top: 0;  
        margin-right: 5%;
    }
    .where, .when, .select, .find {
        width: 100%;     
    }
    .find {
        justify-content: center;
        gap: 0.5em;
    }

    .popular-tours h1{
        font-size: 20px;
    }
    .popular-tours{
        padding-top: 0;
        overflow: hidden;
    }

    .popular-tours-image{
        width: 100%;
    }

.img-gallary-first,
.img-gallary-third{
    grid-template-columns: 1fr 1fr;
}
.img-gallary-second{
    grid-template-columns: 1fr;
}
}
